<!DOCTYPE html>
<html>
<head>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <meta charset="utf-8">
  <title>Forms in Angular</title>
</head>
<body ng-app="app">
	
	<div class="container">

		<div class="row" ng-controller="MainController as main">
			<h1>Form: validation and errors' messages </h1>
			<form novalidate name="simpleForm" ng-submit="main.submit()">

				<input class="form-control" type="text" ng-model="main.name" name="name" required ng-minlength="3" ng-maxlength="10"/>
				<span ng-if="simpleForm.name.$error.required">
					This field is required!
				</span>

				<span ng-if="simpleForm.name.$error.maxlength">
					The max length is 10 ({{main}})
				</span>

				<span ng-if="simpleForm.name.$error.minlength">
					The min length is 3 ({{ simpleForm.name.$viewValue.length}})
				</span>

				<br/>

				<button class="btn btn-success" ng-disabled="simpleForm.$invalid">Submit</button>
				<br/>

				<pre>
					{{simpleForm.name.$error | json}}
				</pre>
			</form>	
		</div>		
	</div>

	


	

	<script src="https://code.jquery.com/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
	<script src="index.js"></script>
</body>
</html>